{% if value == 0 %}
   <div style="color:orange">Inscripto</div> 
{% elseif value == 1 %}
    <div style="color:green">Asistio</div> 
{% elseif value == 2 %}
    <div style="color:red">Ausente</div> 
{% endif %}
